### Problema retirado desse site https://archive.ics.uci.edu/ml/datasets/Auto+MPG

"Os dados dizem respeito ao consumo de combustível do ciclo urbano em milhas por galão"


Informações sobre Atributos:

    1. mpg: contínuo
    2. cilindros: discreto com vários valores
    3. deslocamento: contínuo
    4. cavalos de potência: contínuo
    5. peso: contínuo
    6. aceleração: contínua
    7. ano do modelo: discreto com vários valores
    8. origem: discreto com vários valores
    9. nome do carro: string (único para cada instância)

In [1]:
import pandas as pd

In [2]:
colunas = ['mpg',
           'cylinders',
           'displacement',
           'horsepower',
           'weight',
           'acceleration',
           'model year',
           'origin',
           'car_name']

In [3]:
data = pd.read_fwf('auto-mpg-original.data', names=colunas)

In [5]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car_name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,"""chevrolet chevelle malibu"""
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,"""buick skylark 320"""
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,"""plymouth satellite"""
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,"""amc rebel sst"""
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,"""ford torino"""

In [6]:
data.isnull().sum()

mpg             8
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car_name        0
dtype: int64

In [8]:

data.dropna(subset=['mpg','horsepower'], inplace = True)

In [9]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car_name        0
dtype: int64

In [11]:
data['car_name'].value_counts()

"toyota corolla"                      5
"amc matador"                         5
"ford pinto"                          5
"toyota corona"                       4
"chevrolet chevette"                  4
"amc hornet"                          4
"chevrolet impala"                    4
"ford maverick"                       4
"amc gremlin"                         4
"peugeot 504"                         4
"pontiac catalina"                    3
"plymouth duster"                     3
"chevrolet nova"                      3
"ford galaxie 500"                    3
"honda civic"                         3
"ford gran torino"                    3
"chevrolet vega"                      3
"chevrolet citation"                  3
"volkswagen dasher"                   3
"dodge colt"                          3
"chevrolet caprice classic"           3
"plymouth fury iii"                   3
"mazda 626"                           2
"datsun pl510"                        2
"fiat 128"                            2
"opel manta"                          2
"opel 1900"                           2
"chevrolet chevelle malibu classic    2
"plymouth reliant"                    2
"dodge aspen"                         2
                                     ..
"mazda glc custom l"                  1
"chevrolet vega (sw)"                 1
"oldsmobile starfire sx"              1
"fiat 124 tc"                         1
"ford torino 500"                     1
"buick regal sport coupe (turbo)"     1
"volkswagen super beetle"             1
"vw pickup"                           1
"volkswagen scirocco"                 1
"ford fairmont (man)"                 1
"chevroelt chevelle malibu"           1
"plymouth horizon tc3"                1
"toyota corolla liftback"             1
"datsun b210"                         1
"mercury capri 2000"                  1
"chrysler cordoba"                    1
"plymouth custom suburb"              1
"toyota corolla tercel"               1
"plymouth champ"                      1
"ford futura"                         1
"mercury monarch"                     1
"chevrolet cavalier 2-door"           1
"saab 99gle"                          1
"pontiac firebird"                    1
"chevy c10"                           1
"dodge omni"                          1
"mercedes-benz 280s"                  1
"audi 5000s (diesel)"                 1
"audi 4000"                           1
"datsun 810 maxima"                   1
Name: car_name, Length: 301, dtype: int64

In [15]:
data = pd.get_dummies(data, columns=['car_name'], drop_first=True)

In [16]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,"car_name_""amc ambassador dpl""","car_name_""amc ambassador sst""",...,"car_name_""volvo 145e (sw)""","car_name_""volvo 244dl""","car_name_""volvo 245""","car_name_""volvo 264gl""","car_name_""volvo diesel""","car_name_""vw dasher (diesel)""","car_name_""vw pickup""","car_name_""vw rabbit c (diesel)""","car_name_""vw rabbit custom""","car_name_""vw rabbit"""
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [29]:
y = data['mpg'].values
X = data.drop('mpg', axis=1).values

In [30]:
X

array([[  8., 307., 130., ...,   0.,   0.,   0.],
       [  8., 350., 165., ...,   0.,   0.,   0.],
       [  8., 318., 150., ...,   0.,   0.,   0.],
       ...,
       [  4., 135.,  84., ...,   0.,   0.,   0.],
       [  4., 120.,  79., ...,   0.,   0.,   0.],
       [  4., 119.,  82., ...,   0.,   0.,   0.]])

In [31]:
y

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 19. ,
       16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. , 13. ,
       18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. , 27. ,
       26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. , 17. ,
       11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. , 22. ,
       21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. , 14. ,
       15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. , 18. ,
       18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. , 22. ,
       18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. , 15. ,
       24. , 20. , 11. , 20. , 19. , 15. , 31. , 26. , 32. , 25. , 16. ,
       16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. , 26. , 31. ,
       32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. , 15. , 15. ,
       16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. , 20. , 13. ,
       29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. , 19. , 23. ,
       23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. , 17.5, 16. ,
       15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. , 33. , 20. ,
       18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. , 19. , 19. ,
       16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5, 33.5, 17.5,
       17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5, 15.5, 16. ,
       29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. , 21.5, 21.5,
       43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2, 20.5, 20.2,
       25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7, 18.1, 17.5,
       30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3, 17. , 21.6,
       16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. , 17.6, 16.5,
       18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4, 25.4, 23. ,
       27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8, 33.5, 41.5,
       38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8, 31.3, 37. ,
       32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6, 33.8, 29.8,
       32.7, 23.7, 35. , 32.4, 27.2, 26.6, 25.8, 23.5, 30. , 39.1, 39. ,
       35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4, 29.9, 33. , 33.7, 32.4,
       32.9, 31.6, 28.1, 30.7, 25.4, 24.2, 22.4, 26.6, 20.2, 17.6, 28. ,
       27. , 34. , 31. , 29. , 27. , 24. , 36. , 37. , 31. , 38. , 36. ,
       36. , 36. , 34. , 38. , 32. , 38. , 25. , 38. , 26. , 22. , 32. ,
       36. , 27. , 27. , 44. , 32. , 28. , 31. ])

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
scale = StandardScaler()
X_train_std = scale.fit_transform(X_train)
X_test_std = scale.transform(X_test)

In [35]:
from sklearn.ensemble import GradientBoostingRegressor

In [37]:
gbr = GradientBoostingRegressor(random_state=42)

In [38]:
gbr.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=42,
             subsample=1.0, verbose=0, warm_start=False)

In [39]:
gbr.score(X_test,y_test)

0.862081096460561

In [40]:
from sklearn import metrics

In [41]:
y_pred = gbr.predict(X_test)

In [43]:
metrics.mean_squared_error(y_test,y_pred)**(0.5)

2.6531983108044725

In [44]:
data['mpg'].std()

7.805007486571799