### Problema retirado desse site https://archive.ics.uci.edu/ml/datasets/Auto+MPG

### Link do vídeo: https://www.youtube.com/watch?v=F5O0tt_yMyI&feature=youtu.be

"Os dados dizem respeito ao consumo de combustível do ciclo urbano em milhas por galão"


Informações sobre Atributos:

    1. mpg: contínuo
    2. cilindros: discreto com vários valores
    3. deslocamento: contínuo
    4. cavalos de potência: contínuo
    5. peso: contínuo
    6. aceleração: contínua
    7. ano do modelo: discreto com vários valores
    8. origem: discreto com vários valores
    9. nome do carro: string (único para cada instância)

In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [3]:
colunas = ['mpg',
           'cylinders',
           'displacement',
           'horsepower',
           'weight',
           'acceleration',
           'model year',
           'origin',
           'car_name']

In [31]:
data = pd.read_fwf('auto-mpg-original.data', names=colunas)

In [36]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0

In [39]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [38]:
data = data.dropna(axis=0)

In [34]:
data.drop('car_name', axis=1, inplace=True)

In [10]:
y = data['mpg']
X = data.drop('mpg', axis=1).values

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [25]:
RF = RandomForestRegressor(random_state=0, n_estimators=50)
RF.fit(X_train, y_train)
y_pred = RF.predict(X_test)

In [29]:
metrics.r2_score(y_test,y_pred)

0.8341275786542759