[Video Youtube](https://www.youtube.com/watch?v=Mxs7XDdy68E)

### Problema retirado desse site https://archive.ics.uci.edu/ml/datasets/Automobile

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [4]:
colunas = ["symboling",
           "normalized-losses",
           "make",
           "fuel-type",
           "aspiration",
           "num-of-doors",
           "body-style",
           "drive-wheels",
           "engine-location",
           "wheel-base",
           "length",
           "width",
           "height",
           "curb-weight",
           "engine-type",
           "num-of-cylinders",
           "engine-size",
           "fuel-system",
           "bore",
           "stroke",
           "compression-ratio",
           "horsepower",
           "peak-rpm",
           "city-mpg",
           "highway-mpg",
           "price"]

In [24]:
data = pd.read_csv('imports-85.data', names=colunas)

In [30]:
data.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,engine-type_ohcv,num-of-cylinders_five,num-of-cylinders_four,num-of-cylinders_six,num-of-cylinders_three,fuel-system_2bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,...,0,0,1,0,0,0,0,0,1,0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,...,0,1,0,0,0,0,0,0,1,0
6,1,158.0,105.8,192.7,71.4,55.7,2844,136,3.19,3.4,...,0,1,0,0,0,0,0,0,1,0
8,1,158.0,105.8,192.7,71.4,55.9,3086,131,3.13,3.4,...,0,1,0,0,0,0,0,0,1,0
10,2,192.0,101.2,176.8,64.8,54.3,2395,108,3.50,2.8,...,0,0,1,0,0,0,0,0,1,0

In [31]:
data.isnull().sum()

symboling                 0
normalized-losses         0
wheel-base                0
length                    0
width                     0
height                    0
curb-weight               0
engine-size               0
bore                      0
stroke                    0
compression-ratio         0
horsepower                0
peak-rpm                  0
city-mpg                  0
highway-mpg               0
price                     0
make_bmw                  0
make_chevrolet            0
make_dodge                0
make_honda                0
make_jaguar               0
make_mazda                0
make_mercedes-benz        0
make_mitsubishi           0
make_nissan               0
make_peugot               0
make_plymouth             0
make_porsche              0
make_saab                 0
make_subaru               0
make_toyota               0
make_volkswagen           0
make_volvo                0
fuel-type_gas             0
aspiration_turbo          0
num-of-doors_two          0
body-style_hardtop        0
body-style_hatchback      0
body-style_sedan          0
body-style_wagon          0
drive-wheels_fwd          0
drive-wheels_rwd          0
engine-type_l             0
engine-type_ohc           0
engine-type_ohcf          0
engine-type_ohcv          0
num-of-cylinders_five     0
num-of-cylinders_four     0
num-of-cylinders_six      0
num-of-cylinders_three    0
fuel-system_2bbl          0
fuel-system_idi           0
fuel-system_mfi           0
fuel-system_mpfi          0
fuel-system_spdi          0
dtype: int64

In [27]:
data = data.dropna(axis=0)

In [29]:
data = pd.get_dummies(data, drop_first=True)

In [32]:
y = data["price"]
X = data.drop("price", axis=1).values

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [51]:
RF = RandomForestRegressor(random_state=0, n_estimators=10)
RF.fit(X_train, y_train)
y_pred = RF.predict(X_test)

In [52]:
metrics.r2_score(y_test, y_pred)

0.9143451635362699

In [53]:
metrics.mean_squared_error(y_test, y_pred)

3206273.520295139

In [54]:
metrics.mean_absolute_error(y_test, y_pred)

1094.6854166666667