In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
# Vamos utilizar o KNN e o train_test_split
# Importe os módulos necessários

Colunas do dataSet

In [6]:
colunas = ['buying',
'maint',
'doors',
'persons',
'lug_boot',
'safety',
'y']

Primeiramente vamos ler o dataSet passando nome das colunas

In [7]:
# Leia o dataset
data = _____('data_car.csv', names=colunas)

Agora vamos fazer uma análise dos dados

In [8]:
# Veja os primeiros 5 dados
data.____

   buying  maint  doors  persons  lug_boot  safety      y
0       3      3      0        0         0       0  unacc
1       3      3      0        0         0       1  unacc
2       3      3      0        0         0       2  unacc
3       3      3      0        0         1       0  unacc
4       3      3      0        0         1       1  unacc

In [9]:
# Veja se tem dado nulo
data.___.___

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
y           0
dtype: int64

Percebendo que existe dados categoricos no dataSet, vamos transforma-los em dados numéricos para poder-mos usar o KNN

In [10]:
# Transforme os dados categóricos em númericos
y_mapping = __________

data[___] = data[___].____

Dividindo os dados

In [12]:
# Crie o conjunto de rótulos e o conjunto de features
y = ______

X = ______

Fazendo os conjuntos de dados de treino e teste

In [13]:
# Construa o conjunto de treino e teste usando:
# - 0,2 para o tamanho do conjunto de testes 
# - 42 para o estado aleatório
# - Estratifique a divisão com o conjunto de rótulos 

X_train, X_test, y_train, y_test = ______(___, ___, test_size=___, random_state=___, stratify=___)

#### Gerando um gráfico com a acuracia da resposta do modelo com o conjunto de treino e teste e vendo qual a quantidade de vizinhos da um melhor resultado e quais valores da overfiting

In [1]:
# Verifiquem a resposta do gráfico com 100 e depois
# façam um gráfico com 30

neighbors = np.arange(1, 100)
train_accuracy = np.empty(len(neighbors))
test_accuracy = np.empty(len(neighbors))

# Coloque o numero de vizinhos igual a k do modelo do KNN
for i, k in enumerate(neighbors):
    knn = _____
    knn.fit(___, ___)
    train_accuracy[i] = knn.score(___, ___)
    test_accuracy[i] = knn.score(___, ___)

# gerando o grafico
plt.title('k-NN: Número de vizinhos')
plt.plot(neighbors, test_accuracy, label = 'Accuracia teste')
plt.plot(neighbors, train_accuracy, label = 'Accuracia treino')
plt.legend()
plt.xlabel('Número de vizinhos')
plt.ylabel('Accuracia')
plt.show()