[Video Youtube](https://www.youtube.com/watch?v=SqOmN5m5o9A)

Lendo os dados da [API do TCE](https://api.tce.ce.gov.br/index.php/)

In [1]:
import pandas as pd

In [2]:
api = 'https://api.tce.ce.gov.br/index.php/sim/1_0/'

## Municípios e seus códigos

In [3]:
municipios = pd.read_csv(api + 'municipios.csv', sep=';')

In [4]:
municipios.head()

   codigo_municipio nome_municipio  geoibgeId  geonamesId
0                 2        ABAIARA    2300101          NaN
1                 3        ACARAPE    2300150          NaN
2                 4         ACARAU    2300200          NaN
3                 5       ACOPIARA    2300309          NaN
4                 6         AIUABA    2300408          NaN

In [5]:
municipios[municipios['nome_municipio'] == 'QUIXADA']

     codigo_municipio nome_municipio  geoibgeId  geonamesId
142               144        QUIXADA    2311306          NaN

## Orgãos de Quixadá no ano de 2012

In [6]:
orgaos_quixada = pd.read_csv(api + 'unidades_orcamentarias.csv?codigo_municipio=144&exercicio_orcamento=201200', sep=';')

In [7]:
orgaos_quixada

,codigo_municipio,exercicio_orcamento,codigo_orgao,codigo_unidade,codigo_tipo_unidade,nome_unidade,tipo_administracao_unidade
0,144,201200,01,01,2,CAMARA MUNICIPAL DE QUIXADA,D
1,144,201200,02,01,1,GABINETE DO PREFEITO,D
2,144,201200,03,01,10,PROCURADORIA GERAL DO MUNICIPIO,D
3,144,201200,04,01,3,SECRETARIA DE ADMINISTRACAO,D
4,144,201200,06,01,3,SEC DO PLANEJAMENTO E FINANCAS,D
5,144,201200,07,01,3,SEC DE DESENV. URBANO E MEIO AMBIENTE,D
6,144,201200,08,01,4,SECRETARIA DE EDUCACAO/FME,D
7,144,201200,09,01,3,SEC DE AGRICULT FAMILIAR E DESENV RURAL,D
8,144,201200,10,01,4,SECRETARIA DE SAUDE/FUNDO MUNIC.DE SAUDE,D
9,144,201200,12,01,3,SEC. DO DESENVOLV. ECONOMICO E TURISMO,D
10,144,201200,13,01,6,FUNDACAO GERAC.EMP.RENDA HABIT.POPUL.QUI,I
11,144,201200,13,02,4,FUNDO DE HABITACAO DE INTERESSE SOCIAL,D
12,144,201200,14,14,5,DEPARTAMENTO MUNICIPAL DE TRANSITO,I
13,144,201200,15,01,6,FUNDACAO CULTURAL DE QUIXADA,I
14,144,201200,16,01,3,SECRETARIA DE DESENVOLVIMENTO SOCIAL,D
15,144,201200,16,02,4,FUNDO MUNICIPAL DE ASSISTENCIA SOCIAL,D
16,144,201200,16,03,4,FUNDO MUN DIREITOS CRIANCA ADOLESCENTE,D
17,144,201200,20,01,3,SEC. DE COMUNICACAO E MOBILIZACAO SOCIAL,D
18,144,201200,21,02,7,INSTITUTO PREVIDENCIA MUNIC. QUIXADA,I
19,144,201200,22,01,3,"SEC. DE PARTIC. POPULAR, ESP.E JUVENTUDE",D
20,144,201200,23,23,3,SEC.EDIFICACOES E VIAS PUBLICAS,D
21,144,201200,24,24,3,CONTROLADORIA GERAL DO MUNICIPIO,D
22,144,201200,25,01,5,DEPTO. MUNIC. ADM. BENS E SERV.PUB-DMASP,I
23,144,201200,AA,AA,0,PREFEITURA MUNICIPAL DE QUIXADA,D

## Agentes de Quixadá no ano de 2012

In [8]:
agentes_quixada = pd.read_csv(api + 'agentes_publicos.csv?codigo_municipio=144&exercicio_orcamento=201200', sep=';')

In [9]:
agentes_quixada.head()

,codigo_municipio,exercicio_orcamento,codigo_orgao,codigo_unidade,cpf_servidor,codigo_ingresso,codigo_vinculo,numero_expediente_nomeacao,codigo_expediente,data_expediente,...,codigo_regime_juridico,codigo_regime_previdencia,codigo_ocupacao_cbo,tipo_cargo,valor_carga_horaria,numero_dependentes,data_referencia_agente_publico,nome_servidor,tipo_programa_social,codigo_programa_social
0,144,201200,1,1,1534221301,N,E,181,P,2011-08-01 00:00:00,...,C,G,411010,90,30,0,201202,FRANCISCO WALMIR MAIA SILVA SOBRINHO,3,
1,144,201200,1,1,1745964304,N,E,001,P,2010-01-04 00:00:00,...,C,G,252105,90,30,0,201201,ANTONIO AILSON DA SILVEIRA MEDEIROS,1,10027922054
2,144,201200,1,1,2418569306,N,E,178,P,2011-08-01 00:00:00,...,C,G,411010,90,30,0,201202,MASCILEIDE SOUSA DE OLIVEIRA,1,11699148770
3,144,201200,1,1,2696439311,N,E,179,P,2011-08-01 00:00:00,...,C,G,411010,90,30,0,201202,ANA RAFAELLY EUGENIO LIMA,3,
4,144,201200,1,1,4550640324,N,E,172,P,2011-08-01 00:00:00,...,C,G,411010,90,30,0,201202,GLORIA MARIA MESQUITA BRAGA,3,

### Ajustando o formato da tabela de agentes para ficar igual ao de orgãos

In [ ]:
agentes_quixada['codigo_orgao'] = agentes_quixada['codigo_orgao'].apply(lambda x: '{:02d}'.format(x))

## Descobrindo a quantidade de agentes que trabalham em cada orgão

In [ ]:
pd.merge(agentes_quixada, orgaos_quixada, on='codigo_orgao')['nome_unidade'].value_counts()

# Lendo dados de páginas html com tabelas

[IDH Municípios do Brasil](https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_do_Brasil_por_IDH?oldformat=true)

In [ ]:
web_page = 'https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_do_Brasil_por_IDH?oldformat=true'

In [ ]:
idh_municipios_brasil = pd.read_html(web_page)

In [ ]:
idh_municipios_brasil

In [ ]:
idh_municipios_brasil[0]

Produzido por: Matheus Xavier