[Video Youtube](https://www.youtube.com/watch?v=Gk1zhcYCJaA&t=1s)

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics as mt

O objetivo deste notebook é descobrir se uma pessoa com dadas características tem ou não diabetes

In [2]:
data = pd.read_csv('diabets.csv', sep=',')

**Dados :**

Pregnancies : Numero de vezes que a mulher engraviou

Glucose : concentração de glicose

BloodPressure : Pressão arterial

SkinThickness : Espessura da dobra da pele do tríceps

Insulin : Insulina sérica de 2 horas (mu U / ml)

BMI : Índice de massa corporal

DiabetesPedigreeFunction : Função de pedigree de diabetes

Age : idade em anos

Outcome : Variável de classe, resultado (0 ou 1)

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Informações sobre o conjunto de dados

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Informações sobre falta de dados. Neste caso percebe-se que os dados estão completos, ou seja, não tem nenhum dado nulo ou faltando

In [5]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

Dados estatísticos sobre o conjunto de dados

In [6]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Onde: 

**count** : numero de contagem não nulas

**mean** : média

**std** : desvio padrão

**25%** : percentil

**50%** = mediana

Separando o resultado se é diabético ou não das outras características

In [7]:
y = data['Outcome'].values
data = data.drop('Outcome', axis=1)
X = data.values

Separando os dados para treino e teste

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=3)

In [9]:
model = KNeighborsClassifier(n_neighbors=49)

Treinando o modelo do KNN com os dados de treino

In [11]:
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=49, p=2,
           weights='uniform')

Testando o modelo treinado com o conjunto X_test

In [12]:
y_pred = model.predict(X_test)

Avaliando o modelo com a métrica accuracy onde accuracy é o número de previsões corretas feitas pelo modelo sobre todas as previsões feitas

accuracy = (TP + TN) / TOTAL

In [13]:
accuracy = mt.accuracy_score(y_test, y_pred)

In [14]:
accuracy

0.7402597402597403

In [25]:
model2 = RandomForestClassifier(random_state=0, n_estimators=500)

In [26]:
model2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [27]:
y_pred2 = model2.predict(X_test)

In [28]:
mt.accuracy_score(y_test, y_pred2)

0.7619047619047619